# Everything needed to build the extension and run the test suite from an sdist.
include MANIFEST.in
include README.md
include script.py
recursive-include src *.c *.h
recursive-include tests *.py
recursive-include testdata *.las *.laz *.lax *.txt
recursive-include tools *.py *.c *.cpp *.h *.md
prune build
prune env
global-exclude *.pyc
global-exclude __pycache__/*
